 <!--   .biblioteca-container -->
 <div class="biblioteca-container">
  <!-- cabeçalho -->
  <header>
      <h1>Biblioteca Virtual</h1>
  </header> 
     <!--/////////////////////////////////////////////////////////////////////////////////////  -->
      <!-- form#biblioteca-form  -->
      
          <h4>Cadastre um livro</h4>
          <!-- <div id="form-controls"> -->
            <form id="form-control">
              <input type="text"  placeholder="Título"  name="titulo">
              
              <input type="text"  name="descrisao" placeholder="Descrição">
            
              <input type="text"  name="autor" placeholder="Autor">
                 
              <input type="text"  name="editora" placeholder="Editora">   
             
          </form>    
                  
                 
              
        
          <!-- </div> -->


      
      <div id="biblioteca">
         <button  (click)="cadastrar()" id="btn-cadastrar">cadastrar</button>
      </div>
     
     <!-- ///////////////////////////////////////////////////////////////////////// -->
      
      <div id="biblioteca-list">
        <h1 style="margin-top: 5rem; margin-bottom: 5rem;">Lista de livros</h1>
     
        <!-- /////////////////////////////////////////////////////////// -->
      
                         
      </div>   
      <div>
        <table >
          
          <tr>
            <th>Titulo</th>
            <th>Descrisao</th>
            <th>Autor</th>
            <th>Editora</th>
            <th></th>
            <th></th>
          </tr>
          <!-- /////////////////////////////////////////////////////// -->
          <tr>
            <td>python</td>
            <td>livro de programação</td>
            <td>jose marcos costa</td>
            <td>gama academy</td>
            
            <td> <button class="editar-biblioteca">
              <i class="fa-solid fa-pen"></i>
            </button>
            </td>
            <td> <button class="remover-biblioteca">
              <i class="fa-solid fa-xmark"></i>
            </button>
            </td>
            
          </tr>
          <!--///////////////////////////////////////////////////////////  -->
          <tr>
            <td>python</td>
            <td>livro de programação</td>
            <td>jose marcos costa</td>
            <td>gama academy</td>
            
            <td> <button class="editar-biblioteca">
              <i class="fa-solid fa-pen"></i>
            </button>
            </td>
            <td> <button class="remover-biblioteca">
              <i class="fa-solid fa-xmark"></i>
            </button>
            </td>
            
          </tr>
          <!-- ///////////////////////////////////////////////////////////// -->
         
          <!-- ///////////////////////////////////////////////////////////// -->
        </table>
        
      </div>    

      
 
</div>