 <!--   .biblioteca-container -->
 <div class="biblioteca-container">
  <!-- cabeçalho -->
  <header>
      <h1>Biblioteca Virtual</h1>
  </header> 
     <!--/////////////////////////////////////////////////////////////////////////////////////  -->
      <!-- form#biblioteca-form  -->
      <form id="biblioteca-form">
          <h4>Cadastre um livro</h4>
          <div class="form-control">
              <input type="text" id="biblioteca-input-titulo" placeholder="Título">
              
              <input type="text" id="biblioteca-input-descrisao" placeholder="Descrição">
            
              <input type="text" id="biblioteca-input" placeholder="Autor">
                 
              <input type="text" id="biblioteca-input" placeholder="Editora">   
             
              <button type="submit" id="btn-cadastrar">
                  cadastrar
                 
              </button>
        
          </div>


      </form>
     <!-- ///////////////////////////////////////////////////////////////////////// -->
      
      <div id="biblioteca-list">
        <h1 style="margin: 2rem;">Lista de livros</h1>
     
        <!-- /////////////////////////////////////////////////////////// -->
      
                         
      </div>   
      <div id="tabela">
        <table border="1">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tr>
            <th>Titulo</th>
            <th>Descrisao</th>
            <th>Autor</th>
            <th>Editora</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>livro 1</td>
            <td>suspense</td>
            <td>joao candido</td>
            <td>gama academy</td>
            
            <td> <button class="editar-biblioteca">
              <i class="fa-solid fa-pen"></i>
            </button>
            </td>
            <td> <button class="remover-biblioteca">
              <i class="fa-solid fa-xmark"></i>
            </button>
            </td>
            
          </tr>
          
        </table>
        
      </div>    

      
 
</div>